### DAY 1 - Pandas

__1. What is Pandas?__

- Pandas is an open-source Python library used for working with structured data (like Excel, CSV files, SQL tables, etc.).

- Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

- https://pandas.pydata.org/about/index.html

__It provides two main data structures:__

1. Series – one-dimensional labeled array

2. DataFrame – two-dimensional labeled table

### 1. Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.
- Integers

- Strings

- Floats

- Python objects (even lists, dicts)

- NumPy arrays, etc.

A Series has Two Main Components:
1. Values
The actual data 

2. Index
Labels for the data (like [0, 1, 2] by default)

In [1]:
""" Installing Pandas
If you havent installed it yet:

pip install pandas
in Terminal"""

' Installing Pandas\nIf you havent installed it yet:\n\npip install pandas\nin Terminal'

In [2]:
"""
Importing Pandas

Import Numpy when you pandas : good PRactice
"""
import numpy as np
import pandas as pd

# Series From Python List

In [3]:
# list of string:
country=["India","Pakistan","USA","Nepal","China"]

# Create the series from this country
x=pd.Series(country)
print("MY FIRST SERIES")
print(x)

MY FIRST SERIES
0       India
1    Pakistan
2         USA
3       Nepal
4       China
dtype: object

In [4]:
# List of Integers
marks=[67,85,99,100,34,56]
pd.Series(marks)

0     67
1     85
2     99
3    100
4     34
5     56
dtype: int64

In [5]:
# You can set your own index labels (like strings):
marks=[67,85,99,100,34,56]
subjects=["maths","English","Science","Punjabi","Computer","SST"]
s=pd.Series(marks,index=subjects)
print(s)

maths        67
English      85
Science      99
Punjabi     100
Computer     34
SST          56
dtype: int64

#  Series Properties (Attributes)

In [6]:
print(s)

"""1. s.values — the actual values as a NumPy array"""

print("\n1. Values  - Numpy form\n",s.values)

"""2. s.index — the index object"""
print("\n2. index object  \n",s.index)

"""3. s.dtype — the data type of values"""
print("\n2. datatype of values \n",s.dtype)

"""4. s.shape — tuple representing the Series dimensions"""
print("\n3. Series Dimension\n",s.shape)

"""5. s.ndim — number of dimensions"""
print("\n 4. Number of Dimension\n",s.ndim)

"""6. s.name — name of the Series """
print("\n 5. Series Name:",s.name)

"""7. s.size - gives the Number of items in series"""
print("\n 6. Number of items",s.size)

"""8. s.is_unique - checks the values in series is unique or not"""
print("\n 7. UniqueNess ",s.is_unique)

maths        67
English      85
Science      99
Punjabi     100
Computer     34
SST          56
dtype: int64

1. Values  - Numpy form
 [ 67  85  99 100  34  56]

2. index object
 Index(['maths', 'English', 'Science', 'Punjabi', 'Computer', 'SST'], dtype='object')

2. datatype of values
 int64

3. Series Dimension
 (6,)

 4. Number of Dimension
 1

 5. Series Name: None

 6. Number of items 6

 7. UniqueNess  True

In [7]:
" Setting name of above series"
s.name="Student_Marks"
print(s)

maths        67
English      85
Science      99
Punjabi     100
Computer     34
SST          56
Name: Student_Marks, dtype: int64

### Series from Dictionary:
Similar as List

In [8]:
mydata={"maths":67,
        "English":85,
        "Science":99,
        "Punjabi":100,
        "Computer":34,
        "SST":56}

s=pd.Series(mydata,name="Student_marks")
print(s)

maths        67
English      85
Science      99
Punjabi     100
Computer     34
SST          56
Name: Student_marks, dtype: int64

# Reading Data from File (Csv: comma Separated Values Files)

In [9]:
# 1st
# WE have subs.csv file in DATASETS inside DAY1 Folders

x=pd.read_csv("DATASETS/DAY1/subs.csv")
print(x)
print(type(x))
# this Create A dataframe

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [10]:
# To Make It Series
Subscriber_series=x["Subscribers gained"]
print(Subscriber_series)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [11]:
"""
squeeze=True
If the data you're reading has only one column
 (or one row), setting squeeze=True would automatically 
 "squeeze" the result into a Series instead of a 
 full DataFrame.
In 2025,squeeze parameter has been completely removed 
 x=pd.read_csv("DATASETS/DAY1/subs.csv",squeeze=True)
 Not works
 use dataframe["nameOfcolumns"] to access specific Column =>(Series)"""

'\nsqueeze=True\nIf the data you\'re reading has only one column\n (or one row), setting squeeze=True would automatically \n "squeeze" the result into a Series instead of a \n full DataFrame.\nIn 2025,squeeze parameter has been completely removed \n x=pd.read_csv("DATASETS/DAY1/subs.csv",squeeze=True)\n Not works\n use dataframe["nameOfcolumns"] to access specific Column =>(Series)'

In [12]:
#2 
# we have kohli.csv in DATASET And DAY1 folder
Kohli_df=pd.read_csv("DATASETS/DAY1/kohli_ipl.csv",index_col="match_no")
print(Kohli_df.head())
print(type(Kohli_df))

          runs
match_no
1            1
2           23
3           13
4           12
5            1
<class 'pandas.core.frame.DataFrame'>

In [13]:
# converting it to Series
kohli_series=pd.Series(Kohli_df["runs"].values ,index=Kohli_df.index,name="runs")
print(kohli_series)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [14]:
# 3rd Importing
# bollywood.csv from DATASETS FOLDER inside it DAY1 folder
movie_df=pd.read_csv("DATASETS/DAY1/bollywood.csv")
print(movie_df)
print(type(movie_df)) # dataframe

# taking one Column From DataFrame => Series
print((movie_df["lead"]))
print(type(movie_df["lead"]))

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
0          Vicky Kaushal
1            Vicky Ahuja
2            Anupam Kher
3          Emraan Hashmi
4       Mona Ambegaonkar
              ...
1495      Shah Rukh Khan
1496    Amitabh Bachchan
1497        Vivek Oberoi
1498          Ajay Devgn
1499        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

In [15]:
# using above movie_df and convert it to series

movie_series=pd.Series(movie_df["lead"].values,index=movie_df["movie"])
print(movie_series)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Length: 1500, dtype: object

# Series Methods

In [16]:
"WE WIll APlly the Series Methods On above Created threeSeries"
"1.Subscriber_series"
"2.kohli_series"
"3.movie_series"

'3.movie_series'

In [ ]:
"""Common Methods

1. s.head(n):  Returns the first n (rows)elements of the Series.
Default is 5

2. s.tail(n):  Returns the last n elements of the Series.
Default is 5

3. s.sample(n):Returns a random sample of n elements from the Series.(random Rows)
Default is 1

4. s.describe():Returns descriptive statistics like count, mean, std, min, max, quartiles, etc.
# Usefull to get all Mathmatical things

5. s.count() : it return the number of NON Nan Values
s.size : it returns all values(including Nan)

6. s.info() :Info (only works on DataFrame, not Series directly)


Mathematical & Statistical
7. s.sum()            # Sum of all values

8. s.mean()           # Average

9. s.median()         # Median

10. s.min(), s.max()   # Min and Max

11. s.std()            # Standard deviation

12. s.var()            # Variance



Value Counts and Frequencies
13. s.value_counts()                 # number of Counts of each unique value (Means How Many Times Each value Comes)

14. s.value_counts(normalize=True)   # Proportions

15. s.unique()                       # Unique values

16. s.nunique()                      # Number of unique values



Sorting & Ranking
17. s.sort_values()             # Sort by values

18. s.sort_index()              # Sort by index

19. s.rank()                    # Ranking of values


String Methods (only for string Series)
20. s.str.lower()         # Convert to lowercase

21. s.str.upper()         # Uppercase

22. s.str.contains("abc") # Boolean mask

23. s.str.len()           # Length of each string

24. s.str.replace("old", "new")


Null Handling
25. s.isnull()            # Boolean mask for NaNs

26. s.notnull()           # Opposite

27. s.dropna()            # Remove nulls

28. s.fillna(value)       # Replace nulls


# OTher Methods
1. astype() 
Change Data Type

2. between(): 
Check if values fall in range

3. clip()
Limit values to a range

4.drop_duplicates():
 Remove duplicate values

5.isin():
   Check if values exist in a list

6.apply(): 
Apply a custom function


"""

'Common Methods\n\n1. s.head(n):  Returns the first n (rows)elements of the Series.\nDefault is 5\n\n2. s.tail(n):  Returns the last n elements of the Series.\nDefault is 5\n\n3. s.sample(n):Returns a random sample of n elements from the Series.(random Rows)\nDefault is 1\n\n4. s.describe():Returns descriptive statistics like count, mean, std, min, max, quartiles, etc.\n# Usefull to get all Mathmatical things\n\n5. s.count() : it return the number of NON Nan Values\ns.size : it returns all values(including Nan)\n\n6. s.info() :Info (only works on DataFrame, not Series directly)\n\n\nMathematical & Statistical\n7. s.sum()            # Sum of all values\n\n8. s.mean()           # Average\n\n9. s.median()         # Median\n\n10. s.min(), s.max()   # Min and Max\n\n11. s.std()            # Standard deviation\n\n12. s.var()            # Variance\n\n\n\nValue Counts and Frequencies\n13. s.value_counts()                 # number of Counts of each unique value (Means How Many Times Each value Comes)\n\n14. s.value_counts(normalize=True)   # Proportions\n\n15. s.unique()                       # Unique values\n\n16. s.nunique()                      # Number of unique values\n\n\n\nSorting & Ranking\n17. s.sort_values()             # Sort by values\n\n18. s.sort_index()              # Sort by index\n\n19. s.rank()                    # Ranking of values\n\n\nString Methods (only for string Series)\n20. s.str.lower()         # Convert to lowercase\n\n21. s.str.upper()         # Uppercase\n\n22. s.str.contains("abc") # Boolean mask\n\n23. s.str.len()           # Length of each string\n\n24. s.str.replace("old", "new")\n\n\nNull Handling\n25. s.isnull()            # Boolean mask for NaNs\n\n26. s.notnull()           # Opposite\n\n27. s.dropna()            # Remove nulls\n\n28. s.fillna(value)       # Replace nulls\n\n'

 To Get all Functions In one python FIle
- [SeriesFunction](seriesFunctions.py)

In [18]:
#1
print(Subscriber_series.head(6))
print(kohli_series.head())

0    48
1    57
2    40
3    43
4    44
5    46
Name: Subscribers gained, dtype: int64
match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [19]:
#2
print(Subscriber_series.tail(6))
print(kohli_series.tail())

359    209
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64
match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [20]:
#3 s.sample(n)
print(Subscriber_series.sample(6))
print(kohli_series.sample())

216    127
347    212
28      61
292    203
10      49
102     79
Name: Subscribers gained, dtype: int64
match_no
133    28
Name: runs, dtype: int64

In [21]:
#4
print(Subscriber_series.describe())
print(kohli_series.describe())
print(movie_series.describe())

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64
count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64
count             1500
unique             566
top       Akshay Kumar
freq                48
dtype: object

In [22]:
#5
# s.count():Counts the number of non-null values.
print(Subscriber_series.count())
print(kohli_series.count())
print(movie_series.count())
print(movie_series.size)

365
215
1500
1500

In [23]:
# value_counts() Gives The Frequency of Each Value 
print(movie_series.value_counts())

Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [24]:
# sort_value() Sort the whole Series in ascending Order
# sort_value(ascending=False) sort the WHole Series in descending Order
print(kohli_series.sort_values(ascending=False))
# getting Only first Highest Values
kohli_series.sort_values(ascending=False).values[0]

# it does not change the original Series , because it returns new Series
# so to change in original we use inplace=True 
# this changes in Original Series
kohli_series.sort_values(ascending=False,inplace=True)

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [25]:
kohli_series

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [26]:
# s.sort_index()
kohli_series.sort_index(inplace=True)
kohli_series

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [27]:
# Mathmatical
print(Subscriber_series.sum(),"\n",
Subscriber_series.mean(),"\n",
Subscriber_series.median(),"\n",
Subscriber_series.mode(),"\n",
Subscriber_series.std(),"\n",
Subscriber_series.var())

print(Subscriber_series.min())
print(Subscriber_series.max())

49510
 135.64383561643837
 123.0
 0    105
Name: Subscribers gained, dtype: int64
 62.6750230372527
 3928.1585127201565
33
396

# Series Indexing

1. __Direct Indexing__:

This is the most common for simple lookups

In [28]:
np.random.seed(9)
x=pd.Series(np.random.randint(1,100,size=10))
print(x)

print("FirstItem",x[0])
print("Third Element",x[2])
print("Third Element To Last Element\n",x[2:x.size])

0    93
1    55
2    57
3    23
4    66
5    23
6    53
7    60
8    41
9    92
dtype: int32
FirstItem 93
Third Element 57
Third Element To Last Element
 2    57
3    23
4    66
5    23
6    53
7    60
8    41
9    92
dtype: int32

In [29]:
# whenDefault Integer Index (0, 1, 2, ...)
#  s = pd.Series([10, 20, 30])
# Negative Indexing on Series  Not Works when (Default INteger)
# print(s[-1])  #  ERROR!
# NOt works

# Custom String Index
# s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
# print(s[-1])  #  Works → 30 (last element)
# Works

In [30]:
print(kohli_series[1])

print(movie_series[-1])

1
Akshay Kumar

C:\Users\a\AppData\Local\Temp\ipykernel_7668\4046944023.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(movie_series[-1])

2. __Position-Based Indexing (.iloc[])__

Access by position (like a list or NumPy array)(Integer Location) ( SAME AS PYTHON LIST IT FINDS THE ELEMENT BY INBUILT INDEXES LIKE LIST)

Accepts negative indexing (-1 means last item)

whatever the Index you provide doesn’t matter — only position matter like lists

In [31]:
#.iloc[] is for integer location (like lists)
np.random.seed(9)
x=pd.Series(np.random.randint(1,100,size=10))
print(x)

print(x.iloc[1])
print(x.iloc[-1]) # -1 Works here because it finds the things in inbuilt Indexes not from index(that you provide)
print(x.iloc[1:6])

0    93
1    55
2    57
3    23
4    66
5    23
6    53
7    60
8    41
9    92
dtype: int32
55
92
1    55
2    57
3    23
4    66
5    23
dtype: int32

3. __Label-Based Indexing (.loc[])__

Access by index label (like dictionary keys)

.loc[] for label.(Label Location)	(Access by label)

Negative numbers will throw an error unless a label -1 exists

Here THe Index Matter - You can Only Access the THings With Index

In [32]:
#.loc[] is for labels (like dict keys)
s = pd.Series([88, 92, 79, 85], index=['Asha', 'Rohan', 'Priya', 'Karan'])
print(s)


print(s.loc["Priya"])
print(s.loc['Asha':'Rohan']) #here the both ends are Included Because it is Index

Asha     88
Rohan    92
Priya    79
Karan    85
dtype: int64
79
Asha     88
Rohan    92
dtype: int64

4. __Boolean Indexing (Filtering)__

Used for conditional selections

You create a boolean mask (True/False for each row), and use it to filter the Series.

In [33]:
# what we can do if we have Condition use Boolean Indexing
kohli_series.sort_values(ascending=False,inplace=True)
mask=kohli_series>100
print(mask)
Filtered_values=kohli_series[kohli_series>100] # only > 100 Runs
print(Filtered_values)

match_no
128     True
126     True
123     True
120    False
164    False
       ...
93     False
130    False
206    False
207    False
211    False
Name: runs, Length: 215, dtype: bool
match_no
128    113
126    109
123    108
Name: runs, dtype: int64

In [34]:
mask=(kohli_series > 80) & (kohli_series < 90)
kohli_series[mask]  # Use & for AND, | for OR

match_no
160    84
110    82
Name: runs, dtype: int64

In [35]:
# Find missing values: s[s.isnull()]
NanMask=kohli_series.isnull()
print(NanMask)

kohli_series[NanMask]

match_no
128    False
126    False
123    False
120    False
164    False
       ...
93     False
130    False
206    False
207    False
211    False
Name: runs, Length: 215, dtype: bool

Series([], Name: runs, dtype: int64)

5. __Fancy Indexing (a.k.a. List Indexing)__

You pass a list of labels or positions to get multiple specific elements.

In [36]:

Century_index=kohli_series[kohli_series==100].index
print(Century_index)
print(type(Century_index))
print(list(Century_index))

kohli_series[Century_index]

Index([120, 164], dtype='int64', name='match_no')
<class 'pandas.core.indexes.base.Index'>
[120, 164]

match_no
120    100
164    100
Name: runs, dtype: int64

# SLICING:

Slicing is a way to extract a subset of a Series, using either:

- 1. simple Indexing
.[start:stop:step]
Works well for negative if custom Indexing is given 
not works for negative index if the default index is given

- 2. position-based slicing (like Python lists)
Useful for Position (negative Works)
  .iloc[start:stop:step]
stop is Excluded

- 3. label-based slicing (like dictionaries)
Useful for Index only (negative Not works)
    .loc[start:stop:step]
stop is included

__iloc is purely positional — works like a list.__

__loc is label-based — works like a dictionary.__

In [37]:
# slicing works same as list slicing  
kohli_series.sort_index(inplace=True)
kohli_series

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [38]:
#simple Indexing

print(kohli_series[10:15:2])

kohli_series[-1:-5:-1]

match_no
11    10
13     3
15    50
Name: runs, dtype: int64

match_no
215     7
214    25
213    73
212    20
Name: runs, dtype: int64

In [39]:
# .iloc() and .loc()
# 1. Using iloc to get first 3 scores (by position)
print("1. First 3 scores using iloc:\n", kohli_series.iloc[0:3])

# 2. Using loc to get scores from '2nd ODI' to '4th ODI'
print("2. Scores from 2nd to 4th match using loc:\n", kohli_series.loc[2:4])

# 3. Using iloc to get the last match score
print("3. Last match score using iloc:\n", kohli_series.iloc[-1])

# 4. Using loc to get score of '3rd ODI'
print("4. Score in 3rd ODI using loc:\n", kohli_series.loc[3])

# 5. Using iloc with a list (fancy indexing)
print("5. Select 1st and 4th match using iloc:\n", kohli_series.iloc[[0, 3]])

# 6. Using loc with a list of labels
print("6. Select '1st ODI' and '5th ODI' using loc:\n", kohli_series.loc[[1, 5]])

1. First 3 scores using iloc:
 match_no
1     1
2    23
3    13
Name: runs, dtype: int64
2. Scores from 2nd to 4th match using loc:
 match_no
2    23
3    13
4    12
Name: runs, dtype: int64
3. Last match score using iloc:
 7
4. Score in 3rd ODI using loc:
 13
5. Select 1st and 4th match using iloc:
 match_no
1     1
4    12
Name: runs, dtype: int64
6. Select '1st ODI' and '5th ODI' using loc:
 match_no
1    1
5    1
Name: runs, dtype: int64

# Editing Series

In [40]:
# Direct assignment by index
datapart=kohli_series.head()
print(datapart)
print(type(datapart))

datapart[4]=45
datapart[1]=60
datapart[2]=140

print(datapart)

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64
<class 'pandas.core.series.Series'>
match_no
1     60
2    140
3     13
4     45
5      1
Name: runs, dtype: int64

In [41]:
# Multiple updates using .loc[] (Ending Index is Including)
datapart.loc[2:4]=[1,13,17]
print(datapart)

match_no
1    60
2     1
3    13
4    17
5     1
Name: runs, dtype: int64

In [42]:
#Update using .iloc[] (position) (ENding Index is Excluded)
datapart.iloc[2:4]=[100,100]
print(datapart)

match_no
1     60
2      1
3    100
4    100
5      1
Name: runs, dtype: int64

In [43]:
# Boolean indexing update
mask=(datapart>=50)
mask1=(datapart>=100)

datapart.iloc[mask]="Half-Century"
datapart.iloc[mask1 ]="Century"
print(datapart)

match_no
1    Half-Century
2               1
3         Century
4         Century
5               1
Name: runs, dtype: object

C:\Users\a\AppData\Local\Temp\ipykernel_7668\1122006098.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Half-Century' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  datapart.iloc[mask]="Half-Century"

In [44]:
# if Index Not Exist , and we are trying to Change it 
# this creates new ELement in Series 
# not any Error
datapart[100]=5
# 100 Not exist Earlier But now it is Created
datapart

match_no
1      Half-Century
2                 1
3           Century
4           Century
5                 1
100               5
Name: runs, dtype: object

In [45]:
# changing with Fancy INdexing : Lables Are USed IN Fancy Indexing
datapart[[1,2,3]]=[100,90,80]
print(datapart)

match_no
1          100
2           90
3           80
4      Century
5            1
100          5
Name: runs, dtype: object

[__DAY2__](Day2PandasSeries.ipynb)